<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.title) { %>  
        <title><%- title %></title>
        <% } %>
<style>
.user-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
</style>
</head>
<body>
    
    <div class="user-detail">
        <% if (locals.message) {%>
        <h1>
            <%= message.user %>
        </h1>
        <p>
            <%= message.text %>
        </p>

        <p>            
            Sent at: <%= message.date.toLocaleString() %>
        </p>
        <% } %>

        <a href="/">Home</a>
    </div>

</body>
</html>